In [761]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [762]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [763]:
# Get a brief summary of the crowdfunding_info DataFrame.
print(crowdfunding_info_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB
None

In [764]:
#Check for missing values:
print(crowdfunding_info_df.isnull().sum())

cf_id                      0
contact_id                 0
company_name               0
blurb                      0
goal                       0
pledged                    0
outcome                    0
backers_count              0
country                    0
currency                   0
launched_at                0
deadline                   0
staff_pick                 0
spotlight                  0
category & sub-category    0
dtype: int64

In [765]:
# Get a brief summary of the DataFrame
summary = crowdfunding_info_df.describe(include='all')

# Display the summary
print(summary)

              cf_id   contact_id       company_name  \
count   1000.000000  1000.000000               1000
unique          NaN          NaN                974
top             NaN          NaN  Williams and Sons
freq            NaN          NaN                  3
mean    1585.743000  3751.434000                NaN
std      926.944534  1431.743284                NaN
min       23.000000  1235.000000                NaN
25%      758.750000  2502.750000                NaN
50%     1571.500000  3706.500000                NaN
75%     2402.250000  4994.250000                NaN
max     3209.000000  6234.000000                NaN

                                      blurb           goal        pledged  \
count                                  1000    1000.000000    1000.000000
unique                                  999            NaN            NaN
top     Function-based multi-state software            NaN            NaN
freq                                      2            NaN            NaN
mean                                    NaN   43983.100000   42748.055000
std                                     NaN   58962.425595   57415.481551
min                                     NaN     100.000000       0.000000
25%                                     NaN    4200.000000    5911.250000
50%                                     NaN    8300.000000   11950.000000
75%                                     NaN   80625.000000   66294.250000
max                                     NaN  199200.000000  199110.000000

           outcome  backers_count country currency   launched_at  \
count         1000    1000.000000    1000     1000  1.000000e+03
unique           4            NaN       7        7           NaN
top     successful            NaN      US      USD           NaN
freq           565            NaN     763      763           NaN
mean           NaN     727.005000     NaN      NaN  1.610955e+09
std            NaN    1137.723135     NaN      NaN  1.330154e+07
min            NaN       0.000000     NaN      NaN  1.579068e+09
25%            NaN      86.000000     NaN      NaN  1.601507e+09
50%            NaN     184.500000     NaN      NaN  1.611554e+09
75%            NaN     923.750000     NaN      NaN  1.620018e+09
max            NaN    7295.000000     NaN      NaN  1.643695e+09

            deadline staff_pick spotlight category & sub-category
count   1.000000e+03       1000      1000                    1000
unique           NaN          2         2                      24
top              NaN      False     False           theater/plays
freq             NaN        951       732                     344
mean    1.627459e+09        NaN       NaN                     NaN
std     9.072194e+06        NaN       NaN                     NaN
min     1.609913e+09        NaN       NaN                     NaN
25%     1.619672e+09        NaN       NaN                     NaN
50%     1.627232e+09        NaN       NaN                     NaN
75%     1.635224e+09        NaN       NaN                     NaN
max     1.645596e+09        NaN       NaN                     NaN

**Numerical Statistics:**

Funding goals range from $100 to $199,200, averaging $43,983.10.
Amount pledged varies from $0 to $199,110, averaging $42,748.06.
Number of backers ranges from 0 to 4,800, averaging 410.95 per campaign.
Categorical Statistics:

Majority of campaigns are based in the US (633 campaigns) and use USD.
Most common category is "music/rock" (121 campaigns).
Outcomes: 591 campaigns failed, 409 were successful.
919 campaigns were not staff-picked, and 912 did not receive spotlight promotion.
Most Frequent Details:

Most frequent company name: "Williams and Sons" (appears 3 times).
Most common blurb: "Function-based multi-state software" (appears twice).

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [766]:
# Get the crowdfunding_info_df columns.
columns = crowdfunding_info_df.columns.tolist()

# Print the column names
print(columns)

['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged', 'outcome', 'backers_count', 'country', 'currency', 'launched_at', 'deadline', 'staff_pick', 'spotlight', 'category & sub-category']

In [767]:
# Assign the category and subcategory values to category and subcategory columns.


# Function to split 'category & sub-category' into 'category' and 'subcategory'
def split_category(row):
    categories = row['category & sub-category'].split('/')
    if len(categories) > 1:
        category = categories[0]
        subcategory = categories[1]
    else:
        category = categories[0]
        subcategory = None
    return pd.Series([category, subcategory])

# Apply the function and assign to new columns
crowdfunding_info_df[['category', 'subcategory']] = crowdfunding_info_df.apply(split_category, axis=1)

# Drop the original 'category & sub-category' column if no longer needed
crowdfunding_info_df.drop(columns=['category & sub-category'], inplace=True)

# Print the updated DataFrame to verify
print(crowdfunding_info_df)

     cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                             blurb    goal  pledged  \
0             Pre-emptive tertiary standardization     100        0
1                 Managed bottom-line architecture    1400    14560
2     Function-based leadingedge pricing structure  108400   142523
3    Vision-oriented fresh-thinking conglomeration    4200     2477
4                        Proactive foreground core    7600     5265
..                                             ...     ...      ...
995            Vision-oriented scalable definition   97300   153216
996       Future-proofed upward-trending migration    6600     4814
997              Right-sized full-range throughput    7600     4603
998           Polarized composite customer loyalty   66600    37823
999                    Expanded eco-centric policy  111100    62819

        outcome  backers_count country currency  launched_at    deadline  \
0        failed              0      CA      CAD   1581573600  1614578400
1    successful            158      US      USD   1611554400  1621918800
2    successful           1425      AU      AUD   1608184800  1640844000
3        failed             24      US      USD   1634792400  1642399200
4        failed             53      US      USD   1608530400  1629694800
..          ...            ...     ...      ...          ...         ...
995  successful           2043      US      USD   1609221600  1622350800
996      failed            112      US      USD   1634274000  1638252000
997    canceled            139      IT      EUR   1636174800  1639116000
998      failed            374      US      USD   1602133200  1618117200
999    canceled           1122      US      USD   1609308000  1629262800

     staff_pick  spotlight    category  subcategory
0         False      False        food  food trucks
1         False       True       music         rock
2         False      False  technology          web
3         False      False       music         rock
4         False      False     theater        plays
..          ...        ...         ...          ...
995       False       True        food  food trucks
996       False      False     theater        plays
997       False      False     theater        plays
998       False       True       music   indie rock
999       False      False        food  food trucks

[1000 rows x 16 columns]

In [768]:
# Get the unique categories in separate lists.
unique_categories = crowdfunding_info_df['category'].unique().tolist()

# Print the unique categories and subcategories
print("Unique Categories:", unique_categories)

Unique Categories: ['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']

In [769]:
# Get the unique subcategories in separate lists.
unique_subcategories = crowdfunding_info_df['subcategory'].unique().tolist()
print("Unique Subcategories:", unique_subcategories)

Unique Subcategories: ['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [770]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(unique_categories))
print(len(unique_subcategories))

9
24

In [771]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [772]:
# Print column names to verify
print(crowdfunding_info_df.columns)

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category', 'subcategory'],
      dtype='object')

In [773]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ['cat' + cat_id.astype(str) for cat_id in category_ids]

print(cat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']

In [774]:
# Use a list comprehension to add "subcategory_id" to each category_id. 
subcat_id = ['subcat_id' + subcat_id.astype(str) for subcat_id in subcategory_ids]

print(subcategory_ids)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [775]:
# Loop over a range of numbers from 0 to 8 (to match the length of cat_ids and unique_categories)
category_df = pd.DataFrame(columns=['category_id', 'category'])

for i in range(9):
    category_df.loc[i, 'category_id'] = cat_ids[i]
    category_df.loc[i, 'category'] = unique_categories[i]


print(category_df)

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [776]:
# Loop over a range of numbers from 0 to 9
subcategory_df = pd.DataFrame(columns=['subcategory_id', 'subcategory'])
for i in range(24):

    print(subcat_id[i])
    subcategory_df.loc[i,'subcategory_id'] = subcat_id[i]
  
    subcategory_df.loc[i,'subcategory'] = unique_subcategories[i]
# Loop over elements of a list

subcat_id1
subcat_id2
subcat_id3
subcat_id4
subcat_id5
subcat_id6
subcat_id7
subcat_id8
subcat_id9
subcat_id10
subcat_id11
subcat_id12
subcat_id13
subcat_id14
subcat_id15
subcat_id16
subcat_id17
subcat_id18
subcat_id19
subcat_id20
subcat_id21
subcat_id22
subcat_id23
subcat_id24

In [777]:
#print category_df to verify

print(category_df)

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [778]:
#print subcategory_df to verify

print(subcategory_df)

   subcategory_id        subcategory
0      subcat_id1        food trucks
1      subcat_id2               rock
2      subcat_id3                web
3      subcat_id4              plays
4      subcat_id5        documentary
5      subcat_id6     electric music
6      subcat_id7              drama
7      subcat_id8         indie rock
8      subcat_id9          wearables
9     subcat_id10         nonfiction
10    subcat_id11          animation
11    subcat_id12        video games
12    subcat_id13             shorts
13    subcat_id14            fiction
14    subcat_id15  photography books
15    subcat_id16   radio & podcasts
16    subcat_id17              metal
17    subcat_id18               jazz
18    subcat_id19       translations
19    subcat_id20         television
20    subcat_id21       mobile games
21    subcat_id22        world music
22    subcat_id23    science fiction
23    subcat_id24              audio

In [779]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [780]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater,plays

In [781]:
# Rename the blurb, launched_at, and deadline columns.

campaign_df.rename(columns={'blurb': 'description',
                   'launched_at': 'launched_date',
                   'deadline': 'end_date'},
          inplace=True)

In [782]:
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater,plays

In [783]:
# Convert the goal and pledged columns to a `float` data type.

campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

In [784]:
# Check the datatypes

print(campaign_df['goal'].dtypes)
print(campaign_df['pledged'].dtypes)

float64
float64

In [785]:
# Format the launched_date and end_date columns to datetime format.

from datetime import datetime as dt
campaign_df['launched_date'] = pd.to_datetime(campaign_df['launched_date'])
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'])

In [786]:
# Merge the campaign_df with the category_df on the "category" column 
merged_df = pd.merge(campaign_df, category_df, on='category', how='inner')

# Merge the result with subcategory_df on the "subcategory" column
merged_df = pd.merge(merged_df, subcategory_df, on='subcategory', how='inner')

In [787]:
# print merged_df to verify
merged_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food,food trucks,cat1,subcat_id1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music,rock,cat2,subcat_id2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology,web,cat3,subcat_id3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music,rock,cat2,subcat_id2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater,plays,cat4,subcat_id4

In [788]:
# print merged_df to verify
merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category,subcategory,category_id,subcategory_id
990,1561,5500,Ortiz-Roberts,Devolved foreground customer loyalty,7800.0,6839.0,failed,64,US,USD,1970-01-01 00:00:01.623214800,1970-01-01 00:00:01.623992400,False,True,film & video,drama,cat5,subcat_id7
991,2632,3494,Ramirez LLC,Reduced reciprocal focus group,9800.0,11091.0,successful,241,US,USD,1970-01-01 00:00:01.607493600,1970-01-01 00:00:01.622005200,False,True,music,rock,cat2,subcat_id2
992,439,3924,Morrow Inc,Networked global migration,3100.0,13223.0,successful,132,US,USD,1970-01-01 00:00:01.592110800,1970-01-01 00:00:01.612850400,False,True,film & video,drama,cat5,subcat_id7
993,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,1970-01-01 00:00:01.625288400,1970-01-01 00:00:01.625720400,False,True,photography,photography books,cat8,subcat_id15
994,1419,5262,"Leach, Rich and Price",Implemented bi-directional flexibility,141100.0,74073.0,failed,842,US,USD,1970-01-01 00:00:01.636956000,1970-01-01 00:00:01.638856800,False,True,publishing,translations,cat6,subcat_id19
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,1970-01-01 00:00:01.609221600,1970-01-01 00:00:01.622350800,False,True,food,food trucks,cat1,subcat_id1
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,1970-01-01 00:00:01.634274000,1970-01-01 00:00:01.638252000,False,False,theater,plays,cat4,subcat_id4
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,1970-01-01 00:00:01.636174800,1970-01-01 00:00:01.639116000,False,False,theater,plays,cat4,subcat_id4
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,1970-01-01 00:00:01.602133200,1970-01-01 00:00:01.618117200,False,True,music,indie rock,cat2,subcat_id8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,1970-01-01 00:00:01.609308000,1970-01-01 00:00:01.629262800,False,False,food,food trucks,cat1,subcat_id1

In [789]:
# Drop unwanted columns# List of columns to drop
columns_to_drop = ['staff_pick', 'spotlight', 'category']

# Drop the unwanted columns
campaign_cleaned = merged_df.drop(columns=columns_to_drop)

# Rename the DataFrame to campaign_cleaned
campaign_cleaned = campaign_cleaned

In [790]:
# print campaign_cleaned to verify
campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,food trucks,cat1,subcat_id1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,rock,cat2,subcat_id2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,web,cat3,subcat_id3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,rock,cat2,subcat_id2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,plays,cat4,subcat_id4

In [791]:
# Export the DataFrame as a CSV file. 

campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [792]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.

contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [793]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []

# Print out the list of values for each row.
print(dict_values)

[]

In [794]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [795]:
# Check the datatypes.

In [796]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [797]:
# Reorder the columns

In [798]:
# Check the datatypes one more time before exporting as CSV file.

In [799]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

NameError: name 'contacts_df_clean' is not defined

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)